@import "src/styles/mixin";

.header-wrapper {
    background-image: url(/assets/imgs/yellow-ring.svg);
    background-position: calc(50% + 505px) top;
    background-repeat: no-repeat;
    background-size: 450px auto;
    @include lg {
        background-image: url(/assets/imgs/yellow-ring.svg), url(/assets/imgs/dots.svg);
        background-position: calc(50% + 505px) top, calc(50% + 300px) 420px;
        background-repeat: no-repeat, no-repeat;
        background-size: 450px auto, 365px auto;
    }
    .container {
        display: flex;
        justify-content: space-between;
        padding-top: 192px;
        flex-direction: column;
        @include md {
            flex-direction: row;
        }
    }
    .img-container {
        &:lang(he) {
            @include md {
                margin-right: -40px;
                margin-top: -40px;
            }
            @include lg {
                margin-right: -190px;
                margin-top: -40px;
            }
            @include xl {
                margin-right: -190px;
                margin-top: -40px;
            }
        }
        &:lang(en) {
            @include md {
                margin-left: -40px;
                margin-top: -40px;
            }
            @include lg {
                margin-left: -190px;
                margin-top: -40px;
            }
            @include xl {
                margin-left: -190px;
                margin-top: -40px;
            }
        }
        @include md {
            flex: 0 0 375px;
            margin-top: -40px;
        }
        @include lg {
            flex: 0 0 540px;
            margin-top: -40px;
        }
        @include xl {
            flex: 0 0 635px;
            margin-top: -40px;
        }
         app-hero-img ::ng-deep svg {
            width: 375px;
            height: 324px;
            @include md {
            }
            @include lg {
                width: 540px;
                height: 466px;
            }
            @include xl {
                width: 635px;
                height: 548px;
            }
        }
        img {
            width: 440px;
            height: 412px;
            @include lg {
                width: 530px;
                height: 497px;
            }
            @include xl {
                width: 635px;
                height: 595px;
            }
        }
    }
    .content {
        @include md {
            flex: 0 0 410px;
        }
        @include lg {
            flex: 0 0 465px;
        }
        @include xl {
            flex: 0 0 540px;
        }
    }
    h1 {
        font-size: 40px;
        margin-bottom: 24px;
        @include lg {
            font-size: 45px;
        }
        @include xl {
            font-size: 50px;
        }

        ::ng-deep span {
            color: $primery;
        }
    }
    p {
        margin-bottom: 24px;
        font-size: 18px;
    }
}