@import "src/styles/variables";

@mixin make-container($padding-x: $container-padding-x) {
    width: 100%;
    padding-right: $padding-x;
    padding-left: $padding-x;
    margin-right: auto;
    margin-left: auto;
}

@mixin scroller() {
  &::-webkit-scrollbar {
      background-color: $black;
      width: 3px;
  }
  &::-webkit-scrollbar-thumb {
      background-color: $primery;
      border-radius: 30px;
  }
}
@mixin sm {
  @media (min-width: $sm) {
      @content;
  }
}

@mixin md {
  @media (min-width: $md) {
      @content;
  }
}

@mixin lg {
  @media (min-width: $lg) {
      @content;
  }
}

@mixin xl {
  @media (min-width: $xl) {
      @content;
  }
}

@mixin xxl {
  @media (min-width: $xxl) {
      @content;
  }
}