// ======================================
//  variables Styles
// ======================================

// colors
html {
    --primery-color: #7966FE;
}


$primery: #7966FE;
$subprimery: #FABC04;
$black: #1E1E1E;
// $white: #F2F2F2;
$white: #fff;
$font-color-white: #D9D9D9;

// sizes
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1366px;

