// ======================================
//  variables Styles
// ======================================

// colors
$primery: #FDC45D;
$subprimery: #F48046;
$black: #1E1E1E;
$white: #F2F2F2;
$font-color-white: #D9D9D9;

// sizes
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1366px;

