@import "src/styles/mixin";

.contact-wrapper {
    &.message {
        .successfull-message {
            transform: translateY(0%);
            opacity: 1;
            pointer-events: all;
        }
        .talk, .button-wrapper {
            display: none;
        }
        .container {
            padding-top: 55px;
        }

    }
    .successfull-message {
        opacity: 0;
        pointer-events: none;
        min-height: 0;
        transition: transform ease-in-out .5s;
        transform: translateY(-100%);
        will-change: transform;
        background-color: #fff;
        border-radius: 30px;
        display: inline-flex;
        padding: 48px;
        flex-direction: column;
        @include md {
          max-width: 600px;
        }
        h2 {
            font-size: 40px;
            margin-bottom: 24px;
            font-weight: 600;
            @include md {
                font-size: 50px;
            }
        }
        p {
            font-size: 18px; 
            @include md {
                font-size: 20px; 
            }
        }
   }
    h2 {
        color: $primery;
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 6px;
    }
    h3 {
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 48px;
    }
    .talk {
        flex-direction: column;
        background-color: #fff;
        border-radius: 30px;
        display: inline-flex;
        padding: 48px;
        min-width: 350px;
        box-shadow: 0px 20px 26px #7966fe40;
    }
    .input-group {
        display: flex;
        flex-direction: column;
        gap: 12px;
       
        &:not(:nth-last-child(1)) {
            margin-bottom: 12px;
        }
    }

    button {
        font-size: 20px;
        padding: 24px 24px;
        min-width: 200px;
        border-radius: 16px;
        background-color: $primery;
        transition: background-color ease-in-out .15s;
        will-change: background-color;
        font-family: 'Montserrat', Arial, Helvetica, sans-serif;
        &:hover {
            background-color: lighten($primery, 10);
        }
    }
    label {
        &.title {
            font-size: 20px;
            font-weight: 400;
        }
    }
   .checkboxes {
    margin-bottom: 24px;
   }
    .checkbox {
        display: flex;
        gap: 24px;
        margin-top: 24px;
        flex-wrap: wrap;
        @include lg {
            flex-wrap: nowrap;
        }
    }
    .checkbox-wrapper {
        input {
            display: none;
        }
        .btn {
            display: flex;
            position: relative;
            padding: 18px 36px;
            border-radius: 12px;
            align-items: center;
            flex-direction: row-reverse;
            gap: 12px;
            cursor: pointer;
            .checkmark {
                position: absolute;
                top: 12px;
                right: 12px;
            }
            .checkbox-label {
                font-size: 18px;
                font-weight: 600;
            }
            .active, .inactive {
                width: 35px;
                height: 35px;
            }
        }
        .checkbox-input {
           
            &:checked {
                +.btn {
                    background-color: $primery;
                    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.10);

                    .active, .checkmark {
                        display: block;
                    } 
                    .inactive {
                        display: none;
                    }
                    span {
                        color: $white;
                    }
                }
              
            }
            &:not(:checked) {
                +.btn {
                    background-color: #F3F4F6;      
                    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25) inset;
                    .active, .checkmark {
                        display: none;
                    } 
                    .inactive {
                        display: block;
                    }
                    span {
                        color: $black;
                    }
                }
               
            }
        }
    }
}