<div class="bg" *ngIf="componentConfig.contact">
    <div class="circle glow-shadow"></div>
    <div class="circle glow-shadow"></div>
    <div class="circle glow-shadow"></div>
</div>
<footer [ngClass]="[componentConfig.contact ? '': 'no-contact']">
    <app-contact *ngIf="componentConfig.contact" [componentConfig]="componentConfig.contact"/>
  
    <div class="container">
        <div class="left">
            <div class="logo-container">
                <img [src]="componentConfig.logoImg.src" [alt]="componentConfig.logoImg.alt" loading="lazy">
            </div>
        </div>
        <div class="right">
            
        </div>
    </div>
    <div class="container copyright">
        <p class="copy">
           <b>Copyright</b> {{componentConfig.copyright}}
        </p>
    </div>
</footer>