<div class="bg">
    <div class="circle glow-shadow"></div>
    <div class="circle glow-shadow"></div>
    <div class="circle glow-shadow"></div>
</div>
<footer>
    <app-contact [componentConfig]="componentConfig.contact"/>
  
    <div class="container">
        <div class="left">
            <div class="logo-container">
                <img [src]="componentConfig.logoImg.src" [alt]="componentConfig.logoImg.alt" loading="lazy">
            </div>
        </div>
        <div class="right">
            
        </div>
    </div>
    <div class="container copyright">
        <p class="copy">
           <b>Copyright</b> {{componentConfig.copyright}}
        </p>
    </div>
</footer>