<div class="main-wrapper">
    <div class="page-content">
        <app-navbar [componentConfig]="config.navbar" />
        <header><app-header [componentConfig]="config.header"/></header>
        <section><app-about [componentConfig]="config.about"/></section>
        <section><app-our-services [componentConfig]="config.ourServices"/></section>
        <section><app-why-us [componentConfig]="config.whyUs"/></section>
        <section><app-faq [componentConfig]="config.faq"/></section>
        <app-footer [componentConfig]="config.footer"/>
    </div>
   
</div>