
@use '@angular/material' as mat;
@include mat.core();
@import "src/styles/mixin";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

$lpg-primary: mat.define-palette(mat.$indigo-palette);
$lpg-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$lpg-warn: mat.define-palette(mat.$red-palette);
$lpg-theme: mat.define-light-theme((
  color: (
    primary: $lpg-primary,
    accent: $lpg-accent,
    warn: $lpg-warn,
  )
));

@include mat.all-component-themes($lpg-theme);
.container {
    @include make-container(24px);
    @include lg {
        max-width: 1200px;
    }
}

body,
html {
    background-color: #EEF1FC;
    color: $black;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    overflow: inherit;
    --mdc-filled-text-field-container-color: #EEF1FC
}
p {
    font-size: 20px;
    font-weight: 300;
}
* {
    line-height: 1.1;
    box-sizing: border-box;
    margin: 0;
}
html, body {
    scroll-behavior: smooth;
    height: 100%;
}
body { 
    margin: 0; 
    @include scroller;
}

.desktop {
    display: none;
    @include lg {
        display: block;
    }
}
.tablet {
    display: none;
    @include md {
        display: block;
    }
    @include lg {
        display: none;
    }
}
.mobile {
    display: block;
    @include md {
        display: none;
    }
}
a {
    text-decoration: none;
}
img {
    object-fit: contain;
}
.glow-shadow {
    box-shadow: 0px 13px 24px #C5B7FE, 0px -8px 16px #D4DDFA;
}
@include auto-fill-design {
  border: none;
  -webkit-text-fill-color: $black;
  -webkit-box-shadow: 0 0 0px 1000px #eef1fc inset;
  transition: background-color 5000s ease-in-out 0s;
}
.shadow {
    box-shadow: 0px 20px 25px #7966fe40;
}
.circle {
    pointer-events: none;
}