@import "src/styles/mixin";

.why-us-wrapper {
    margin-top: 96px;
    .bg {
        position: absolute;
        z-index: 1;
        top: 0;
        width: 100%;
        height: 600px;
        .circle {
            position: absolute;
            border-radius: 100%;
           
            &.blue {
                width: 415px;
                height: 305px;
                top: -350px;
                left: calc(50% + 135px);
                border: 2px dashed #3C8BD9;
                @include xl {
                    width: 855px;
                    height: 550px;
                    top: -260px;
                    left: calc(50% + 45px);
                }
            }
        }
    }
    .container {
        display: flex;
       
        position: relative;
        flex-direction: column;
        @include lg {
            flex-direction: row;
            align-items: flex-end;
            justify-content: space-between;
        }
    }
    .content {
        position: relative;
        z-index: 2;
       
        @include lg {
            flex: 0 0 550px;
        }
        h2 {
            font-size: 40px;
            font-weight: 700;
            margin-bottom: 48px;
            @include xl {
                font-size: 64px;
            }
        }
    }
    .img-container {
        position: relative;
        z-index: 2;
        text-align: center;
        @include lg {
            flex: 0 0 380px;
            text-align: start;
        }
        @include xl {
            flex: 0 0 450px;
            margin-bottom: -60px;
        }
        img {
            width: 380px;
            height: 463px;
            @include xl {
                width: 450px;
                height: 548px;
            }
        }
    }
    .bullets {
        .bullet {
            margin-bottom: 24px;

            h4 {
                font-size: 24px;
                margin-bottom: 6px;
                display: flex;
                align-items: center;
                gap: 6px;
                &::before {
                    content: '';
                    background-image: url(/assets/imgs/check.svg);
                    width: 15px;
                    height: 15px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    display: inline-block;
                }
            }
            p {
                color: #89969F;
            }
        }
    }
}